<launch>
  <!-- urdf -->
  <param name="robot_description" textfile="$(find soha_drive)/urdf/xycar_3d.urdf" />
  <param name="use_gui" value="true" />

  <!-- rviz display -->
  <node name="rviz_visualizer" pkg="rviz" type="rviz" required="true"
        args="-d $(find soha_drive)/rviz/rviz_odom.rviz" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>