<launch>
  <!-- camera -->
  <include file="$(find ar_viewer_sm)/launch/camera.launch" />
  <!-- ar track alvar -->
  <include file="$(find ar_viewer_sm)/launch/ar_track_alvar.launch" />
  <!-- parking -->
  <node name="ar_parking"  pkg="ar_viewer_sm" type="ar_parking.py"   output="screen" />
  <!-- motor -->
  <include file="$(find ar_viewer_sm)/launch/xycar/xycar_motor_b2.launch" />
</launch>
